*{
    margin: 0;
    padding: 0;
}

body{
    width: 390px;
    height: 844px;
    background-color: antiquewhite;
    font-family:Tahoma;
}

header{
    display: flex;
    justify-content: center;
}

.centro{
    display: flex;
    justify-content: center;
}

.topo{
    width: 100px;
    height: 40px;
    background-color: rgb(74, 74, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.titulo{
    padding-top: 26px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

.cartaz{
    width: 360px;
    -webkit-animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.galeria{
    padding-left: 70px;
    padding-top: 20px;
}

.galeria button{
    width: 250px;
    height: 50px;
    margin-top: 10px;
    background-color: rgb(74, 74, 255);
    border: 2px solid black;
    border-radius: 8px;
}

.argumentos{
    text-align: justify;
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 15px;
}

.ciber{
    background-color: rgb(74, 74, 255);
    padding: 8px;
    border-radius: 8px;
    color: white;
    border: 3px solid black;
}

.cidadania{
    background-color: rgb(41, 41, 41);
    padding: 8px;
    border-radius: 8px;
    color: white;
    border: 3px solid black;
}

.educacao{
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 8px;
    color: rgb(114, 76, 76);
    border: 3px solid grey;
}

.edalimentar{
    background-color: rgb(247, 233, 216);
    padding: 8px;
    border-radius: 8px;
    color: orangered;
    border: 3px solid rgb(158, 118, 103);
}

.transito{
    background-color: rgb(235, 221, 98);
    padding: 8px;
    border-radius: 8px;
    color: rgb(32, 32, 2);
    border: 3px solid rgb(165, 14, 14);
}

.etica{
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 8px;
    color: rgb(16, 158, 111);
    border: 3px solid rgb(59, 187, 112)
}

.meioambiente{
    background-color: rgb(6, 41, 10);
    padding: 8px;
    border-radius: 8px;
    color: rgb(47, 255, 116);
    border: 3px solid rgb(47, 255, 116);
}

.meioambiente2{
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 8px;
    color: rgb(55, 7, 87);
    border: 3px solid rgb(202, 84, 163);
}

.pluralidade{
    background-color: rgb(66, 114, 170);
    padding: 8px;
    border-radius: 8px;
    color: white;
    border: 3px solid rgb(48, 48, 48);
}